{css href="__STATIC__/js/jquery/uploadify/uploadify.css"}
{js href="__STATIC__/js/jquery/uploadify/jquery.uploadify.min.js"}
<style>
	.uploadify{margin-bottom:5px;}
	.uploadify-button{background-color:#3c8dbc;border:#367fa9 solid 1px;text-align:center;color:#fff;border-radius:3px;background-image:none;}
	.uploadify:hover .uploadify-button{background-color:#367fa9;border:#204d74 solid 1px;text-align:center;color:#fff;border-radius:3px;background-image:none;}
	.upload-img-box{width:100%;padding:5px;border:#ccc dashed 1px;font-size:0;}
	.upload-img-box .upload-pre-item{width:100px;height:100%;display:inline-block;vertical-align:center;margin:2.5px 5px 2.5px 0px;overflow:hidden;}
	.upload-img-box .upload-pre-item:last-child{margin:2.5px 0px 2.5px 0px;}
	.upload-img-box .upload-pre-item>img{width:100%;}
</style>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<!-- Custom Tabs (Pulled to the right) -->
			<form id="form" role="form">
	          <div class="nav-tabs-custom">
	            <ul class="nav nav-tabs pull-right">
	            {php}$index = 0;$sindex = 0;{/php}
	            	{foreach name="data.config" item="vo" key="key"}
	            		{php}$index++;{/php}
	            		{if condition="($vo['type'] neq 'group') AND ($index eq 1)"}
	              			<li class="active"><a href="#tab_{$key}" data-toggle="tab">基础配置</a></li>
	              		{elseif condition="$vo['type'] eq 'group'" /}
	              			{foreach name="vo.options" item="svo" key="skey"}
	              				{php}$sindex++;{/php}
	              				<li {if condition="($index eq 1) AND ($sindex eq 1)"}class="active"{/if}><a href="#tab_{$skey}" data-toggle="tab">{$svo.title}</a></li>
	              			{/foreach}
	              		{/if}
	              	{/foreach}
	            {php}$index = 0;$sindex = 0;{/php}
	              <li class="pull-left header"><i class="fa fa-plug"></i>{$data.title}插件信息配置</li>
	            </ul>
	            <div class="tab-content">
	            	<!-- /.tab-pane -->
	            	{foreach name="data.config" item="vo" key="key"}
	            		{php}$index++;{/php}
	            		{if condition="($vo['type'] neq 'group') AND ($index eq 1)"}
			             	<div class="col-md-8 tab-pane active" id="tab_{$key}" style="float:none;">
			             		{switch name="vo.type"}
			             			{case value="select"}
			             				<div class="form-group">
			             					<label>{$vo.title}</label>
			             					<select name="{$key}" class="form-control" style="width:40%;">
			             						{foreach name="vo.options" item="ivo" key="ikey"}
			             							<option value="{$ikey}" {eq name="ikey" value="$vo.value"}selected{/eq}>{$ivo}</option>
			             						{/foreach}
			             					</select>
			             				</div>
			             			{/case}
			             			{case value="radio"}
			             				<div class="form-group">
			             					<label style="display:block;">{$vo.title}</label>
			             					{foreach name="vo.options" item="ivo" key="ikey"}
			             						<input type="radio" name="{$key}" value="{$ikey}" class="minimal" {eq name="ikey" value="$vo.value"}checked{/eq} />{$ivo}&nbsp;&nbsp;
			             					{/foreach}
			             				</div>
			             			{/case}
			             			{case value="checkbox"}
			             				<div class="form-group">
			             					<label style="display:block;">{$vo.title}</label>
			             					{foreach name="vo.options" item="ivo" key="ikey"}
			             						<input type="checkbox" name="{$key}" value="{$ikey}" class="minimal" {if condition="in_array($ikey,explode(',',$vo['value']))"}checked{/if} />{$ivo}&nbsp;&nbsp;
			             					{/foreach}
			             				</div>
			             			{/case}
			             			{case value="textarea"}
			             				<div class="form-group">
			             					<label>{$vo.title}</label>
			             					<textarea name="{$key}" rows="6" class="form-control">{$vo.value}</textarea>
			             				</div>
			             			{/case}
			             			{case value="text|password|hidden"}
			             				<div class="form-group">
			             					<label>{$vo.title}</label>
			             					<input type="{$vo.type}" name="{$key}" value="{$vo.value}" class="form-control" />
			             				</div>
			             			{/case}
			             			{case value="pictures"}
			             				<div class="form-group controls">
											<input type="file" id="upload_picture_{$key}">
											<input type="hidden" name="{$key}" id="cover_id_{$key}" value="{$vo.value}"/>
											<div class="upload-img-box">
												{notempty name="vo.value"}
													{php}$mulimages = explode(",", $vo["value"]);{/php}
													{foreach name="mulimages" item="one" key="imkey"}
														<div class="upload-pre-item" val="{$one}">
															<img src="{$one}" ondblclick="removePicture{$key}(this,0,'','{$key}')"/>
														</div>
													{/foreach}
												{/notempty}
											</div>
											<label class="text-red" style="font-size:12px;">注意:双击预览图删除已上传图片.</label>
										</div>
										<script>
											//上传图片
											/* 初始化上传插件 */
											$("#upload_picture_{$key}").uploadify({
												"width"           : 120,
												"height"          : 35,
												"swf"             : "__STATIC__/js/jquery/uploadify/uploadify.swf",
												"fileObjName"     : "upimg",
												"buttonText"      : "上传图片",
												"uploader"        : "{:url('uploadimage')}",
												'removeTimeout'   : 1,
												'fileTypeExts'    : '*.jpg; *.png; *.gif;',
												"onUploadSuccess" : uploadPicture{$key},
												'onFallback' : function() {
										            alert('未检测到兼容版本的Flash.');
										        }
											});

											function uploadPicture{$key}(file, data){
												var data = $.parseJSON(data);
												var src = '';
												if(data.status){
													src = data.url;
													$("#cover_id_{$key}").parent().find('.upload-img-box').append(
														'<div class="upload-pre-item" val="' + src + '"><img src="' + src + '" ondblclick="removePicture{$key}(this)"/></div>'
													);
													setPictureIds{$key}();
												} else {
													updateAlert(data.info);
													setTimeout(function(){
														$('#top-alert').find('button').click();
														$(that).removeClass('disabled').prop('disabled',false);
													},1500);
												}
											}

											function removePicture{$key}(o,g,tk,k){
												$.post('{:url("delimage")}',{purl:$(o).parent().attr('val'),group:g,topkey:tk,key:k,aid:$('input[name=id]').val()},function(data){
													if(data.status){
														var p = $(o).parent().parent();
														$(o).parent().remove();
														setPictureIds{$key}();
													}else{
														alert(data.info);
													}
												},'json');
											}

											function setPictureIds{$key}(){
												var ids = [];
												$("#cover_id_{$key}").parent().find('.upload-img-box').find('.upload-pre-item').each(function(){
													ids.push($(this).attr('val'));
												});
												if(ids.length > 0)
													$("#cover_id_{$key}").val(ids.join(','));
												else
													$("#cover_id_{$key}").val('');
											}
										</script>
			             			{/case}
			             		{/switch}
			            {elseif condition="($vo['type'] neq 'group') AND ($index neq 1)" /}    
			            	{switch name="vo.type"}
		             			{case value="select"}
		             				<div class="form-group">
		             					<label>{$vo.title}</label>
		             					<select name="{$key}" class="form-control" style="width:40%;">
		             						{foreach name="vo.options" item="ivo" key="ikey"}
		             							<option value="{$ikey}" {eq name="ikey" value="$vo.value"}selected{/eq}>{$ivo}</option>
		             						{/foreach}
		             					</select>
		             				</div>
		             			{/case}
		             			{case value="radio"}
		             				<div class="form-group">
		             					<label style="display:block;">{$vo.title}</label>
		             					{foreach name="vo.options" item="ivo" key="ikey"}
		             						<input type="radio" name="{$key}" value="{$ikey}" class="minimal" {eq name="ikey" value="$vo.value"}checked{/eq} />{$ivo}&nbsp;&nbsp;
		             					{/foreach}
		             				</div>
		             			{/case}
		             			{case value="checkbox"}
		             				<div class="form-group">
		             					<label style="display:block;">{$vo.title}</label>
		             					{foreach name="vo.options" item="ivo" key="ikey"}
		             						<input type="checkbox" name="{$key}" value="{$ikey}" class="minimal" {if condition="in_array($ikey,explode(',',$vo['value']))"}checked{/if} />{$ivo}&nbsp;&nbsp;
		             					{/foreach}
		             				</div>
		             			{/case}
		             			{case value="textarea"}
		             				<div class="form-group">
		             					<label>{$vo.title}</label>
		             					<textarea name="{$key}" rows="6" class="form-control">{$vo.value}</textarea>
		             				</div>
		             			{/case}
		             			{case value="text|password|hidden"}
		             				<div class="form-group">
		             					<label>{$vo.title}</label>
		             					<input type="{$vo.type}" name="{$key}" value="{$vo.value}" class="form-control" />
		             				</div>
		             			{/case}
		             			{case value="pictures"}
		             				<div class="form-group controls">
										<input type="file" id="upload_picture_{$key}">
										<input type="hidden" name="{$key}" id="cover_id_{$key}" value="{$vo.value}"/>
										<div class="upload-img-box">
											{notempty name="vo.value"}
												{php}$mulimages = explode(",", $vo["value"]);{/php}
												{foreach name="mulimages" item="one" key="imkey"}
													<div class="upload-pre-item" val="{$one}">
														<img src="{$one}" ondblclick="removePicture{$key}(this,0,'','{$key}')"/>
													</div>
												{/foreach}
											{/notempty}
										</div>
										<label class="text-red" style="font-size:12px;">注意:双击预览图删除已上传图片.</label>
									</div>
									<script>
										//上传图片
										/* 初始化上传插件 */
										$("#upload_picture_{$key}").uploadify({
											"width"           : 120,
											"height"          : 35,
											"swf"             : "__STATIC__/js/jquery/uploadify/uploadify.swf",
											"fileObjName"     : "upimg",
											"buttonText"      : "上传图片",
											"uploader"        : "{:url('uploadimage')}",
											'removeTimeout'   : 1,
											'fileTypeExts'    : '*.jpg; *.png; *.gif;',
											"onUploadSuccess" : uploadPicture{$key},
											'onFallback' : function() {
									            alert('未检测到兼容版本的Flash.');
									        }
										});

										function uploadPicture{$key}(file, data){
											var data = $.parseJSON(data);
											var src = '';
											if(data.status){
												src = data.url;
												$("#cover_id_{$key}").parent().find('.upload-img-box').append(
													'<div class="upload-pre-item" val="' + src + '"><img src="' + src + '" ondblclick="removePicture{$key}(this)"/></div>'
												);
												setPictureIds{$key}();
											} else {
												updateAlert(data.info);
												setTimeout(function(){
													$('#top-alert').find('button').click();
													$(that).removeClass('disabled').prop('disabled',false);
												},1500);
											}
										}

										function removePicture{$key}(o,g,tk,k){
											$.post('{:url("delimage")}',{purl:$(o).parent().attr('val'),group:g,topkey:tk,key:k,aid:$('input[name=id]').val()},function(data){
												if(data.status){
													var p = $(o).parent().parent();
													$(o).parent().remove();
													setPictureIds{$key}();
												}else{
													alert(data.info);
												}
											},'json');
										}

										function setPictureIds{$key}(){
											var ids = [];
											$("#cover_id_{$key}").parent().find('.upload-img-box').find('.upload-pre-item').each(function(){
												ids.push($(this).attr('val'));
											});
											if(ids.length > 0)
												$("#cover_id_{$key}").val(ids.join(','));
											else
												$("#cover_id_{$key}").val('');
										}
									</script>
		             			{/case}
		             		{/switch}
			            {elseif condition="$vo['type'] eq 'group'" /}
			            	</div>
			            	{foreach name="vo.options" item="svo" key="skey"}
	              				{php}$sindex++;{/php}
	              				<div class="col-md-8 tab-pane {if condition="($index eq 1) AND ($sindex eq 1)"}active{/if}" id="tab_{$skey}" style="float:none;">
	              					{foreach name="svo.options" item="givo" key="gikey"}
	              						{switch name="givo.type"}
					             			{case value="select"}
					             				<div class="form-group">
					             					<label>{$givo.title}</label>
					             					<select name="{$skey}" class="form-control" style="width:40%;">
					             						{foreach name="givo.options" item="giovo" key="giokey"}
					             							<option value="{$giokey}" {eq name="giokey" value="$givo.value"}selected{/eq}>{$giovo}</option>
					             						{/foreach}
					             					</select>
					             				</div>
					             			{/case}
					             			{case value="radio"}
					             				<div class="form-group">
					             					<label style="display:block;">{$givo.title}</label>
					             					{foreach name="givo.options" item="giovo" key="giokey"}
					             						<input type="radio" name="{$gikey}" value="{$giokey}" class="minimal" {eq name="giokey" value="$givo.value"}checked{/eq} />{$giovo}&nbsp;&nbsp;
					             					{/foreach}
					             				</div>
					             			{/case}
					             			{case value="checkbox"}
					             				<div class="form-group">
					             					<label style="display:block;">{$givo.title}</label>
					             					{foreach name="givo.options" item="giovo" key="giokey"}
					             						<input type="checkbox" name="{$gikey}" value="{$giokey}" class="minimal" {if condition="in_array($giokey,explode(',',$givo['value']))"}checked{/if} />{$giovo}&nbsp;&nbsp;
					             					{/foreach}
					             				</div>
					             			{/case}
					             			{case value="textarea"}
					             				<div class="form-group">
					             					<label>{$givo.title}</label>
					             					<textarea name="{$gikey}" rows="6" class="form-control">{$givo.value}</textarea>
					             				</div>
					             			{/case}
					             			{case value="text|password|hidden"}
					             				<div class="form-group">
					             					<label>{$givo.title}</label>
					             					<input type="{$givo.type}" name="{$gikey}" value="{$givo.value}" class="form-control" />
					             				</div>
					             			{/case}
					             			{case value="pictures"}
					             				<div class="form-group controls">
													<input type="file" id="upload_picture_{$gikey}">
													<input type="hidden" name="{$gikey}" id="cover_id_{$gikey}" value="{$givo.value}" />
													<div class="upload-img-box">
														{notempty name="givo.value"}
															{php}$mulimages = explode(",", $givo["value"]);{/php}
															{foreach name="mulimages" item="one" key="imkey"}
																<div class="upload-pre-item" val="{$one}">
																	<img src="{$one}" ondblclick="removePicture{$gikey}(this,1,'{$skey}','{$gikey}')"/>
																</div>
															{/foreach}
														{/notempty}
													</div>
													<label class="text-red" style="font-size:12px;">注意:双击预览图删除已上传图片.</label>
												</div>
												<script>
													//上传图片
													/* 初始化上传插件 */
													$("#upload_picture_{$gikey}").uploadify({
														"width"           : 120,
														"height"          : 35,
														"swf"             : "__STATIC__/js/jquery/uploadify/uploadify.swf",
														"fileObjName"     : "upimg",
														"buttonText"      : "上传图片",
														"uploader"        : "{:url('uploadimage')}",
														'removeTimeout'   : 1,
														'fileTypeExts'    : '*.jpg; *.png; *.gif;',
														"onUploadSuccess" : uploadPicture{$gikey},
														'onFallback' : function() {
												            alert('未检测到兼容版本的Flash.');
												        }
													});

													function uploadPicture{$gikey}(file, data){
														var data = $.parseJSON(data);
														var src = '';
														if(data.status){
															src = data.url;
															$("#cover_id_{$gikey}").parent().find('.upload-img-box').append(
																'<div class="upload-pre-item" val="' + src + '"><img src="' + src + '" ondblclick="removePicture{$gikey}(this)"/></div>'
															);
															setPictureIds{$gikey}();
														} else {
															updateAlert(data.info);
															setTimeout(function(){
																$('#top-alert').find('button').click();
																$(that).removeClass('disabled').prop('disabled',false);
															},1500);
														}
													}

													function removePicture{$gikey}(o,g,tk,k){
														$.post('{:url("delimage")}',{purl:$(o).parent().attr('val'),group:g,topkey:tk,key:k,aid:$('input[name=id]').val()},function(data){
															if(data.status){
																var p = $(o).parent().parent();
																$(o).parent().remove();
																setPictureIds{$gikey}();
															}else{
																alert(data.info);
															}
														},'json');
													}

													function setPictureIds{$gikey}(){
														var ids = [];
														$("#cover_id_{$gikey}").parent().find('.upload-img-box').find('.upload-pre-item').each(function(){
															ids.push($(this).attr('val'));
														});
														if(ids.length > 0)
															$("#cover_id_{$gikey}").val(ids.join(','));
														else
															$("#cover_id_{$gikey}").val('');
													}
												</script>
					             			{/case}
					             		{/switch}
	              					{/foreach}
	              				</div>
	              			{/foreach}
			            {/if}
		            {/foreach}
		            {php}unset($index);unset($sindex);{/php}
	              	<!-- /.tab-pane -->
	            </div>
	            <!-- /.tab-content -->
	            <div class="box-footer">
	          		<input type="hidden" name="id" value="{$Request.param.id}" />
	            	<button type="button" id="submit" class="btn btn-primary">保存配置</button>
	          	</div>
	          </div>
	        <!-- nav-tabs-custom -->
	       </form>
		</div>
	</div>
</section>

{include file="public/dialog" /}

<script>
	//iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
	      checkboxClass: 'icheckbox_minimal-blue',
	      radioClass: 'iradio_minimal-blue'
    });

    $('#submit').click(function(){
		if($(this).hasClass('disabled')){
			return false;
		}
		$(this).addClass('disabled');
		var form = $('#form').serialize();
		$.post('{:url("admin/addons/saveconfig")}',form,function(data){
			$('#myDialog .dialog-box').text(data.info);
			$('#myDialog').modal();
			$('#myDialog #dialogSta').val(data.status);
			$('#submit').removeClass('disabled');
		});
    });

    $('#myDialog').on('hidden.bs.modal',function(){
	    var sta = $(this).find('#dialogSta').val();
	    if(sta==1){
	        window.location.reload();
	    }
  	});
</script>