<!-- 引入Vue -->
{js href="//cdn.quguonet.com/iview.rc13/vue2.24.js"}
<!-- 引入样式 -->
{css href="//cdn.quguonet.com/iview.rc13/iview.css"}
<!-- 引入组件库 -->
{js href="//cdn.quguonet.com/iview.rc13/iview.min.js"}
{css href="//cdn.quguonet.com/datatables/media/css/dataTables.bootstrap.min.css"/}
<style>
    .inputdiv{
        float: left;
        margin-right: 20px;
    }
    .printnub{
        width: 40px; 
        text-align: center; 
        line-height: 20px;
        height: 20px; 
        background-color: red;
        color:#FFF;
        border-radius: 10px;
    }
    .printnub1{
        width: 40px; 
        text-align: center; 
        height: 20px; 
        background-color: green;
        color:#FFF;
        line-height: 20px;
        border-radius: 10px;
    }
</style>
<section class="content">
    <div class="row" id="app">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">打票管理</h3>
                    <div style="margin-top: 12px">
                        <div class="inputdiv">
                            <div>开始时间:</div>
                            <Date-picker :value="stime" style="width: 200px;float: left;" type="datetime" @on-change="stimeonclick"></Date-picker>
                        </div>
                        <div class="inputdiv">
                            <div>结束时间:</div>
                            <Date-picker :value="etime" style="width: 200px;float: left;" type="datetime" @on-change="etimeonclick"></Date-picker>
                        </div>
                        <div class="inputdiv">
                            <div>标签分类:</div>
                            <select v-model="tag" class="form-control" style="width: 100px;">
                                <option value="0">不选择</option>
                                {foreach name="tag" item="vo"}
                                    <option value="{$vo.id}">{$vo.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div style="margin-top: 30px;">
                        <div href="" class="ivu-btn ivu-btn-success" @click="querytimelist">查询自提点</div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover" id="example">
                        <thead>
                            <tr>
                                <th>自提点名称</th>
                                <th>地址</th>
                                <th>电话</th>
                                <th>未打印</th>
                                <th>编辑</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach name="list" item="vo" }
                                <tr>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.address}</td>
                                    <td>{$vo.tel}</td>
                                    <td>
                                        {if condition="$vo['print'] == 0"}
                                            <div class="printnub1">{$vo.print}</div>
                                        {else/}
                                            <div class="printnub">{$vo.print}</div>
                                        {/if}
                                    </td>
                                    <td>
                                        <div class="btn btn-default" @click="querylist('{$vo.address}',0)"><i class="fa fa-edit"></i>查看未打印</div>
                                        <div class="btn btn-default" @click="querylist('{$vo.address}',1)"><i class="fa fa-edit"></i>查看已打印</div>
                                        <div class="btn btn-default" @click="querylist('{$vo.address}',2)"><i class="fa fa-edit"></i>查看全部</div>
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</section>
{js href="//cdn.quguonet.com/bootstrap/dist/js/bootstrap.min.js"/}
{js href="//cdn.quguonet.com/datatables/media/js/jquery.dataTables.min.js"/}
{js href="//cdn.quguonet.com/datatables/media/js/dataTables.bootstrap.min.js"/}
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#example').dataTable({
            "sPaginationType" : "full_numbers",
            "oLanguage" : {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "名称:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }        
            }
        });
    });
</script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            stime:'{$istime}',
            etime:'{$iftime}',
            tag:'0',
        },
        methods:{
            stimeonclick:function(date){
                this.stime = date;
            },
            etimeonclick:function(date){
                this.etime = date;
            },
            querytimelist:function(address){
                window.location.href = "{:url('admin/printorder/since')}"+'?id={$id}&stime='+this.stime+'&etime='+this.etime+'&tag='+this.tag;
            },
            querylist:function(address,stu){
                window.location.href = "{:url('admin/printorder/print')}"+'?id='+address+'&stime='+this.stime+'&etime='+this.etime+'&stu='+stu+'&tag='+this.tag;
            }
        }
    })
</script>