{css href="__STATIC__/js/datepicker/datepicker3.css"}
{js href="__STATIC__/js/datepicker/bootstrap-datepicker.js"}
<style>
	.gwrapper{width:715px;}
	.dwrapper{width:250px;}
	.dwrapper .datepicker-input{height:30px;border-right:none;}
	.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{height:30px;font-size:14px;}
	.dategroup .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{border-right:none;}
	.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:24px;}
	.seldate,.selpath{width:100px !important;height:30px;padding:3px 10px;}
	.selpath{width:250px !important;}
</style>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">司机送货记录</h3>

              <div class="box-tools pull-right">
                <form>
	                <div class="input-group input-group-sm gwrapper">
		                <div class="input-group date dwrapper">
			                <div class="input-group-addon">
			                    <i class="fa fa-calendar"></i>
			                </div>
			                <input type="text" name="time" class="form-control pull-right datepicker-input" value="{$ctime|date='Y-m-d',###}" readonly>
	                	</div>
	                	<div class="input-group-btn dategroup">
	                		<select name="type" class="form-control select2 seldate">
	                			<option value="0">全天</option>
				                <option value="1">上午</option>
				                <option value="2">下午</option>
				            </select>
			            </div>
			            <div class="input-group-btn">
			            	<select name="path" class="form-control select2 selpath">
	                			<option value="">选择线路</option>
	                			{foreach name="paths" item="pvo"}
				                	<option value="{$pvo.id}">{$pvo.name}</option>
				                {/foreach}
				            </select>
			            </div>
		                <div class="input-group-btn">
			                <button type="button" id="sbtn" class="btn btn-default"><i class="fa fa-search"></i></button>
			                <a class="btn btn-default btn-xs" href="{:url('admin/delivery/driverrecord',array('id'=>$id))}"><i class="fa fa-refresh"></i>&nbsp;清除筛选</a>
		                </div>
	                </div>
	            </form>
              </div>
              <!-- /.box-tools -->
            </div>

			<!-- info row -->
			{notempty name="tmpPath"}
		      <div class="row invoice-info" style="padding:10px;text-align:right;">
		        <div class="col-sm-4 invoice-col"></div>
		        <!-- /.col -->
		        <div class="col-sm-8 invoice-col">
		          <b style="vertical-align:top;">当前配送线路：</b>
		          <ul style="display:inline-block;list-style-type:none;vertical-align:top;padding-left:15px;margin-bottom:0;">
		          {foreach name="tmpPath" item="tp"}
		          	<li style="text-align:left;">{$tp.name} (<label class="text-green">已配送:{$tp.arrive}</label> , <label class="text-yellow">已跳过:{$tp.jump}</label> , <label class="text-red">未配送:{$tp.unsend}</label> )</li>
		          {/foreach}
		          </ul>
		        </div>
		        <!-- /.col -->
		      </div>
		    {/notempty}
		    <!-- /.row -->

            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  		<tr>
		                  <th>##</th>
		                  <th>配送线路</th>
		                  <th>配送点</th>
		                  <th>详细地址</th>
		                  <th>订单量</th>
		                  <th>配送状态</th>
		                  <th>配送/跳过时间</th>
		                </tr>
	                  	 {foreach name="list" item="vo"}
			                <tr>
			               		<td class="mailbox-star">
			               			{eq name="vo.status" value="1"}
			               				<i class="fa fa-star text-yellow"></i>
			               			{else/}
			               				<i class="fa fa-star-o text-yellow"></i>
			               			{/eq}
			               		</td>
			               		<td class="mailbox-name">{$vo.path}</td>
				                <td class="mailbox-name">{$vo.name}</td>
				                <td class="mailbox-subject">{$vo.address}</td>
				                <td class="mailbox-subject">{$vo.onums}</td>
				                  {switch name="vo.status"}
				                  	{case value="1" break="1"}
				                  		<td class="mailbox-subject text-green">
				                  			已配送
				                  		</td>
				                  	{/case}
				                  	{case value="0" break="1"}
				                  		<td class="mailbox-subject">
				                  			待配送
				                  		</td>
				                  	{/case}
				                  	{case value="-1" break="1"}
				                  		<td class="mailbox-subject text-yellow">
				                  			已跳过
				                  		</td>
				                  	{/case}
				                  {/switch}
				                <td class="mailbox-date">
				                  {$vo.createtime|date="Y-m-d H:i:s",###}
				                </td>
			                </tr>
			            {/foreach}
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            	{$list->render()}
            </div>
          </div>
          <!-- /. box -->
		</div>
	</div>
</section>
<script>
	$('.select2.seldate').select2({
		minimumResultsForSearch: -1
	});

	$('.select2.selpath').select2();

	$('.datepicker-input').datepicker({
      autoclose: true,
      format: 'yyyy-mm-dd'
    });

    $('#sbtn').click(function() {
    	var time = $('input[name=time]').val();
    	var type = $('select[name=type]').val();
    	var path = $('select[name=path]').val();
    	var str = '';
    	if(time!=''){
    		str += '/time/'+time;
    	}
    	str += '/type/'+type;
    	if(path!=''){
    		str += '/path/'+path;
    	}
    	var url = '{:url("admin/delivery/driverrecord",array("id"=>$id))}';
    	url = url.replace('.html',str)+'.html';
    	window.location.href = url;
    });
</script>