<style>
	/* 线路选择 */
	.sm-box{width:100%;padding:10px;border:#ccc dashed 1px;font-size:0;}
	.sm-box.list-box{min-height:300px;height:300px;overflow-y:scroll;margin-bottom:10px;}
	.sm-box.list-box label.title{display:block;font-size:14px;font-weight:bold;color:#333;padding-left:6px;margin-bottom:0px;}
	.sm-box .items{display:inline-block;padding:3px 5px;margin:5px;border:#ccc solid 1px;border-radius:5px;cursor:pointer;font-size:14px;position:relative;}
	.sm-box .items.unable{border:#dcdcdc solid 1px;color:#dcdcdc;}
	.sm-box .items:hover{border:#8eb96c solid 1px;color:#8eb96c;}
	.sm-box .items .cross{width:16px;height:16px;border-radius:8px;background-color:rgba(56,56,56,0.3);font-size:12px;color:#fff;line-height:16px;text-align:center;position:absolute;left:-8px;top:-8px;display:none;}
	.sm-input{width:100%;padding:10px 0px;}
	.sm-input input{padding:8px 5px;}
	.sm-input input{border:#ccc solid 1px;}
	.sm-input button{width:80px;padding:9px 5px;}
	.divider{width:100%;height:15px;}
	.divider:last-child{display:none;}
	.hideItem{display:none !important;}
	/* 线路选择 */
</style>
<!-- Main content -->
<section class="content" style="margin-top:30px;">
	<div class="row">
		<div class="col-md-12">
			<!-- general form elements -->
		      <div class="box box-primary">
		        <div class="box-header with-border">
		          <h3 class="box-title">添加配送线路</h3>
		        </div>
		        <!-- /.box-header -->
		        <!-- form start -->
		        <form id="form" role="form">
		          <div class="box-body">
		          	<div class="col-md-8">
			            <div class="form-group">
			              <label>线路名称</label>
			              <input type="text" name="name" class="form-control" placeholder="配送线路的名称标识" value="{$info.name}">
			            </div>
			            <div class="from-group" style="margin-bottom:15px;">
		                	<label>线路配置</label>
		                	<p class="text-red">
		                		注意：呈现浅灰色的点为已禁用的配送点，请谨慎选择!
		                	</p>
		                	<div class="sm-input">
				                <input type="text" id="smSearch" value="" placeholder="搜索配送点名称" />
				                <button type="button" id="smBtn" class="btn btn-primary">搜索</button>
				            </div>
			            	<p>可选配送点:</p>
				            <div id="smResult" class="sm-box list-box">
				            	{foreach name="list" item="vo"}
					            	<label class="title">{$vo.name}</label>
					            	{foreach name="vo.subs" item="svo"}
					            		{if condition="in_array($svo['id'],$tarr)"}
					            			<div class="items hideItem {neq name='svo.status' value='1'} unable{/neq}" data-id="{$svo.id}" {eq name='svo.status' value='1'}onclick="clickResItems(this);{/eq}">{$svo.name}</div>
					            		{else/}
					            			<div class="items{neq name='svo.status' value='1'} unable{/neq}" data-id="{$svo.id}" {eq name='svo.status' value='1'}onclick="clickResItems(this);{/eq}">{$svo.name}</div>
					            		{/if}
					            	{/foreach}
					            	<div class="divider"></div>
				            	{/foreach}
				            </div>
				            <p>线路内容:</p>
				            <p class="text-red">
		                		注意：线路顺序为当前的排放顺序.
		                	</p>
				            <div id="smContent" class="sm-box">
				            	{foreach name="info.path" item="pvo"}
				            		<div class="items" data-id="{$pvo.id}" onmouseover="showConItems(this);" onmouseout="hideConItem(this);">{$pvo.name}<div class="cross" onclick="clickConItems(this);">x</div></div>
				            	{/foreach}
				            </div>
				        </div>
			            <div class="form-group">
			            	<label style="display:block;">状态</label>
			            	{eq name="info.status" value="1"}
				                <label>
				                  <input type="radio" name="status" class="minimal" value="1" checked>
				                  启用
				                </label>
				                &nbsp;&nbsp;
				                <label>
				                  <input type="radio" name="status" class="minimal" value="0">
				                  禁用
				                </label>
				            {else/}
				            	<label>
				                  <input type="radio" name="status" class="minimal" value="1">
				                  启用
				                </label>
				                &nbsp;&nbsp;
				                <label>
				                  <input type="radio" name="status" class="minimal" value="0" checked>
				                  禁用
				                </label>
				            {/eq}
			            </div>
					</div>
		          </div>
		          <!-- /.box-body -->

		          <div class="box-footer">
		          	<input type="hidden" name="id" value="{$info.id}">
		            <button type="button" id="submit" class="btn btn-primary">提交保存</button>
		          </div>
		        </form>
		      </div>
		    <!-- /.box -->
		</div>
	</div>
</section>
{include file="public/dialog" /}
<script>
	//iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
	      checkboxClass: 'icheckbox_minimal-blue',
	      radioClass: 'iradio_minimal-blue'
    });

    $('#smBtn').click(function(){
        var smkey = $('#smSearch').val();
        $('#smResult').html('<span style="font-size:14px;">数据加载中,请稍候...</span>');
        $.post('{:url("admin/delivery/searchpoints")}',{'key':smkey},function(data){
            if(data.status==1){
                var html = '';
                var smids = new Array();
		        $.each($('#smContent .items'),function(ind,itm){
		            smids.push($(itm).data('id'));
		        });
                $.each(data.list,function(index,item){
                	var cname = 'items';
                	if(item.status!=1){
                		cname += ' unable';
                		var click = '';
                	}else{
                		var click = 'onclick="clickResItems(this)"';
                	}
                    html += '<div class="'+ cname +'" data-id="'+item.id+'"'+click+'>'+item.name+'</div>';
                });
                $('#smResult').html(html);
                delete(smids);
                delete(cname);
            }else{
                $('#smResult').html('<span style="font-size:14px;">'+data.info+'</span>');
            }
            $('#smSearch').val('');
        });
    });

    function clickResItems(it){
        var status = true;
        $.each($('#smContent .items'),function(index,item){
            if($(it).data('id')==$(item).data('id')){
                status = false;
                return false;
            }
        });
        if(!status){
            $('#myDialog .dialog-box').text('配送点已在选择列表中');
			$('#myDialog').modal();
			$('#myDialog #dialogSta').val(0);
            return false;
        }
        $('#smContent').append('<div class="items" data-id="'+$(it).data('id')+'" onmouseover="showConItems(this);" onmouseout="hideConItem(this);">'+$(it).text()+'<div class="cross" onclick="clickConItems(this);">x</div></div>');
        $(it).addClass('hideItem');
    }

    function checkResItems(it){
        if(!$(it).hasClass('checked')){
        	$('#smMain .items.checked').removeClass('checked');
        	$(it).addClass('checked');
        }
    }

    function clickConItems(it){
        if(confirm('确定删除？')){
        	var id = $(it).parent('.items').data('id');
	        $(it).parent('.items').remove();
	        $('#smResult .items.hideItem').each(function(ind,ele){
	        	if($(ele).data('id')===id){
	        		$(ele).removeClass('hideItem');
	        		return false;
	        	}
	        });
        }
    }

    function showConItems(it){
      $(it).children('.cross').show();
    }

    function hideConItem(it){
      $(it).children('.cross').hide();
    }

    $('#submit').click(function(){
		if($(this).hasClass('disabled')){
			return false;
		}
		$(this).addClass('disabled');
		var smids = new Array();
        $.each($('#smContent .items'),function(ind,itm){
            smids.push($(itm).data('id'));
        });
        $('#form').append('<input type="hidden" name="path" value="'+smids.join(",")+'" />');
        var form = $('#form').serialize();
		$.post('{:url("admin/delivery/editpath")}',form,function(data){
			$('#myDialog .dialog-box').text(data.info);
			$('#myDialog').modal();
			$('#myDialog #dialogSta').val(data.status);
			$('#submit').removeClass('disabled');
			delete(smids);
		});
    });

    $('#myDialog').on('hidden.bs.modal',function(){
	    var sta = $(this).find('#dialogSta').val();
	    if(sta==1){
	        window.location.href = "{:url('admin/delivery/path')}";
	    }
  	});
</script>