<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-warning" href="{:url('admin/system/addcolumn')}" style="margin:15px 0;">添加栏目</a>
			<div class="box">
	            <div class="box-header">
	              <h3 class="box-title">系统栏目列表</h3>

	              <div class="box-tools">
	              	<form method="get">
		                <div class="input-group input-group-sm" style="width:250px;">
		                  <input type="text" name="search_key" class="form-control pull-right" placeholder="搜索栏目名称">
		                  <div class="input-group-btn">
		                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
		                    <a class="btn btn-default btn-xs" href="{:url('admin/system/column')}"><i class="fa fa-refresh"></i>&nbsp;清除搜索</a>
		                  </div>
		                </div>
		            </form>
	              </div>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body table-responsive no-padding">
	              <table class="table table-hover">
	                <tr>
	                  <th>ID</th>
	                  <th>栏目名称</th>
	                  <th>类型</th>
	                  <th>链接</th>
	                  <th>显示级数</th>
	                  <th>状态</th>
	                  <th>操作</th>
	                </tr>
	                {foreach name="list" item="vo"}
		                <tr>
		                  <td>{$vo.id}</td>
		                  <td>{$vo.name}</td>
		                  <td>
		                  	{eq name="vo.pid" value="0"}
		                  		顶级栏目
		                  	{else/}
		                  		子栏目
		                  	{/eq}
		                  </td>
		                  <td>
		                  	{notempty name="vo.module"}
		                  		{$vo.module}/{$vo.controller}/{$vo.action}
		                  	{/notempty}
		                  </td>
		                  <td>
		                  	<span class="label label-primary">{$vo.level}</span>
		                  </td>
		                  <td>
		                  	{eq name="vo.status" value="1"}
		                  		<span class="label label-success">启用</span>
		                  	{else/}
		                  		<span class="label label-warning">禁用</span>
		                  	{/eq}
		                  </td>
		                  <td>
		                  	<div class="btn-group">
				                <a class="btn btn-default btn-xs" href="{:url('admin/system/editcolumn',array('id'=>$vo['id']))}"><i class="fa fa-edit"></i>&nbsp;编辑</a>
				                <button type="button" class="btn btn-default btn-xs" onclick="delItem('{$vo.id}');"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
			                </div>
		                  </td>
		                </tr>
		            {/foreach}
	              </table>
	            </div>
	            <!-- /.box-body -->
	            <div class="box-footer clearfix">
	              {$list->render()}
	            </div>
          </div>
          <!-- /.box -->
		</div>
	</div>
</section>
{include file="public/dialog" /}
{include file="public/modal" /}
<script>
    $('#myDialog').on('hidden.bs.modal',function(){
	    var sta = $(this).find('#dialogSta').val();
	    if(sta==1){
	        window.location.reload();
	    }
  	});

  	function delItem(id){
  		if(!id){
  			return false;
  		}
  		$('#myModal .modal-box').text('确定删除该项?');
  		$('#myModal').modal();
  		$('#myModal #modalId').val(id);
  	}

  	$('#myModal #modalConfirm').click(function(){
  		$('#myModal').modal('hide');
  		var gid = $('#myModal #modalId').val();
  		$.post("{:url('admin/system/delcolumn')}",{del:gid},function(data){
  			$('#myDialog .dialog-box').text(data.info);
  			$('#myDialog #dialogSta').val(data.status);
  			$('#myDialog').modal();
  		});
  	});
</script>