<!-- Main content -->
<section class="content" style="margin-top:30px;">
	<div class="row">
		<div class="col-md-12">
			<!-- general form elements -->
		      <div class="box box-primary">
		        <div class="box-header with-border">
		          <h3 class="box-title">添加地区</h3>
		        </div>
		        <!-- /.box-header -->
		        <!-- form start -->
		        <form id="form" role="form">
		          <div class="box-body">
		          	<div class="col-md-8">
			            <div class="form-group">
			              <label>地区名称</label>
			              <input type="text" name="name" class="form-control" placeholder="地区名称" value="">
			            </div>
					</div>
		          </div>
		          <!-- /.box-body -->

		          <div class="box-footer">
		            <button type="button" id="submit" class="btn btn-primary">提交保存</button>
		          </div>
		        </form>
		      </div>
		    <!-- /.box -->
		</div>
	</div>
</section>
{include file="public/dialog" /}
<script>
    $('#submit').click(function(){
		if($(this).hasClass('disabled')){
			return false;
		}
		$(this).addClass('disabled');
		var form = $('#form').serialize();
		$.post('{:url("admin/shoper/addarea")}',form,function(data){
			$('#myDialog .dialog-box').text(data.info);
			$('#myDialog').modal();
			$('#myDialog #dialogSta').val(data.status);
			$('#submit').removeClass('disabled');
		});
    });

    $('#myDialog').on('hidden.bs.modal',function(){
	    var sta = $(this).find('#dialogSta').val();
	    if(sta==1){
	        window.location.href = "{:url('admin/shoper/area')}";
	    }
  	});
</script>