{css href="__STATIC__/kindeditor/themes/default/default.css"}
{js href="__STATIC__/kindeditor/kindeditor-min.js"}
{js href="__STATIC__/kindeditor/lang/zh_CN.js"}
<style>
	.img-box{width:200px;height:150px;border:#cfcfcf dashed 1px;margin:10px 0px;background-color:#f3f3f3;background-size:contain;background-position:center;position:relative;background-repeat:no-repeat;}
	.cross{width:20px;height:20px;border-radius:10px;line-height:18px;text-align:center;font-size:14px;color:#fff;background-color:rgba(207,207,207,0.8);position:absolute;top:-10px;right:-10px;cursor:pointer;display:none;}
</style>
<!-- Main content -->
<section class="content" style="margin-top:30px;">
	<div class="row">
		<div class="col-md-12">
			<!-- general form elements -->
		      <div class="box box-primary">
		        <div class="box-header with-border">
		          <h3 class="box-title">添加文章</h3>
		        </div>
		        <!-- /.box-header -->
		        <!-- form start -->
		        <form id="form" role="form">
		          <div class="box-body">
		          	<div class="col-md-8">
			            <div class="form-group">
			              <label>文章标题</label>
			              <input type="text" name="title" class="form-control" placeholder="文章的标题" value="">
			            </div>
			            <div class="form-group">
			              <label>短描述|口号</label>
			              <textarea name="short_desc" class="form-control" placeholder="短描述|口号"></textarea>
			            </div>
			            <div class="form-group" style="margin-bottom:5px;">
		                	<label>文章缩略图</label>
		                </div>
		                <div class="form-group">
		                	<div id="ibox" class="img-box">
		                		<div id="icross" class="cross">x</div>
		                		<input type="hidden" id="imgurl" name="shotcut" value="">
		                	</div>
		                	<button type="button" id="getImage" class="btn btn-success">上传图片</button>
		                </div>
		                <div class="form-group">
			              <label>产品名称</label>
			              <input type="text" name="product" class="form-control" placeholder="产品的名称" value="">
			            </div>
			            <div class="form-group">
			              <label>产品价格</label>
			              <input type="text" name="price" class="form-control" placeholder="产品的价格" value="">
			            </div>
			            <div class="form-group">
			              <label>阅读量</label>
			              <input type="text" name="visitor" class="form-control" placeholder="文章阅读数量" value="">
			            </div>
			            <div class="form-group">
			            	<label style="display:block;">置顶</label>
			                <label>
			                  <input type="radio" name="top" class="minimal" value="1">
			                  是
			                </label>
			                &nbsp;&nbsp;
			                <label>
			                  <input type="radio" name="top" class="minimal" value="0" checked>
			                  否
			                </label>
			            </div>
			            <div class="form-group">
			            	<label style="display:block;">状态</label>
			                <label>
			                  <input type="radio" name="status" class="minimal" value="1">
			                  发布
			                </label>
			                &nbsp;&nbsp;
			                <label>
			                  <input type="radio" name="status" class="minimal" value="0" checked>
			                  草稿
			                </label>
			            </div>
			            <div class="form-group">
			            	<label>文章内容</label>
			            	<textarea id="content" name="content" style="width:100%;min-height:550px;"></textarea>
			            </div>
					</div>
		          </div>
		          <!-- /.box-body -->

		          <div class="box-footer">
		            <button type="button" id="submit" class="btn btn-primary">提交保存</button>
		          </div>
		        </form>
		      </div>
		    <!-- /.box -->
		</div>
	</div>
</section>
{include file="public/dialog" /}
<script>
	var content;
	KindEditor.ready(function(K) {
		var editor = K.editor({
	       allowFileManager : true
	    });
	    content = K.create('#content');
        K('#getImage').click(function(){
	        editor.loadPlugin('image', function() {
	          	editor.plugin.imageDialog({
	            	fileUrl : K('#imgurl').val(),
	            	clickFn : function(url, title){
	              		K('#imgurl').val(url);
	              		K('#ibox').css({'backgroundImage':'url('+url+')'});
	              		K('#icross').css({'display':'block'});
	              		editor.hideDialog();
	              		K('#getImage').attr('disabled',true);
	            	}
	          	});
	        });
	    });
    });

	$('.select2').select2();

	//iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
	      checkboxClass: 'icheckbox_minimal-blue',
	      radioClass: 'iradio_minimal-blue'
    });

    $('.cross').click(function(){
  		var val = $(this).next('input').val();
  		if(!val){
  			return false;
  		}
  		$.post('{:url("admin/shoper/delarticleimg")}',{durl:val},function(data){
  			if(data.status==1){
				$('#icross').hide();
				$('#ibox').css({'backgroundImage':'none'});
				$('#getImage').prop('disabled',false);
				$('#imgurl').val('');
  			}else{
  				$('#myDialog .dialog-box').text(data.info);
  				$('#myDialog #dialogSta').val(data.status);
  				$('#myDialog').modal();
  			}
  		});
  	});

    $('#submit').click(function(){
		if($(this).hasClass('disabled')){
			return false;
		}
		$('#content').val(content.html());
		$(this).addClass('disabled');
		var form = $('#form').serialize();
		$.post('{:url("admin/shoper/addarticle")}',form,function(data){
			$('#myDialog .dialog-box').text(data.info);
			$('#myDialog').modal();
			$('#myDialog #dialogSta').val(data.status);
			$('#submit').removeClass('disabled');
		});
    });

    $('#myDialog').on('hidden.bs.modal',function(){
	    var sta = $(this).find('#dialogSta').val();
	    if(sta==1){
	        window.location.href = "{:url('admin/shoper/article')}";
	    }
  	});
</script>