<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-warning" href="{:url('admin/shoper/addarea')}" style="margin:15px 0;">添加地区</a>
			<div class="box">
	            <div class="box-header">
	              <h3 class="box-title">地区列表</h3>

	              <div class="box-tools">
	              	<form method="get">
		                <div class="input-group input-group-sm" style="width:250px;">
		                  <input type="text" name="search_key" class="form-control pull-right" placeholder="搜索规格名称">
		                  <div class="input-group-btn">
		                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
		                    <a class="btn btn-default btn-xs" href="{:url('admin/shoper/area')}"><i class="fa fa-refresh"></i>&nbsp;清除搜索</a>
		                  </div>
		                </div>
		            </form>
	              </div>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body table-responsive no-padding">
	              <table class="table table-hover">
	                <tr>
	                  <th>ID</th>
	                  <th>地区名称</th>
	                  <th>操作</th>
	                </tr>
	                {foreach name="area" item="vo"}
		                <tr>
		                  <td>{$vo.id}</td>
		                  <td>{$vo.name}</td>
		                  <td>
		                  	<div class="btn-group">
				                <a class="btn btn-default btn-xs" href="{:url('admin/shoper/editarea',array('id'=>$vo['id']))}"><i class="fa fa-edit"></i>&nbsp;编辑</a>
				                <button type="button" class="btn btn-default btn-xs" onclick="delItem('{$vo.id}');"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
			                </div>
		                  </td>
		                </tr>
		            {/foreach}
	              </table>
	            </div>
	            <!-- /.box-body -->
	            <div class="box-footer clearfix">
	              {$area->render()}
	            </div>
          </div>
          <!-- /.box -->
		</div>
	</div>
</section>

{include file="public/dialog" /}
{include file="public/modal" /}
<script>
    $('#myDialog').on('hidden.bs.modal',function(){
	    var sta = $(this).find('#dialogSta').val();
	    if(sta==1){
	        window.location.reload();
	    }
  	});

  	function delItem(id){
  		if(!id){
  			return false;
  		}
  		$('#myModal .modal-box').text('删除地区将会影响产品运费，确定?');
  		$('#myModal').modal();
  		$('#myModal #modalId').val(id);
  	}

  	$('#myModal #modalConfirm').click(function(){
  		$('#myModal').modal('hide');
  		var gid = $('#myModal #modalId').val();
  		$.post("{:url('admin/shoper/delarea')}",{del:gid},function(data){
  			$('#myDialog .dialog-box').text(data.info);
  			$('#myDialog #dialogSta').val(data.status);
  			$('#myDialog').modal();
  		});
  	});
</script>