<style>
  .ibox{
    width:80px;
    height:60px;
    overflow:hidden;
    background-color:#efefef;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
  }
</style>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			
		<a class="btn btn-warning" href="{:url('admin/shoper/addcoupon')}" style="margin:15px 0;">添加优惠券</a>

          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">优惠券列表</h3>

              <div class="box-tools pull-right"></div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  		<tr>
		                  <th>##</th>
		                  <th>优惠券标题</th>
		                  <th>类型</th>
                      <th>优惠金额/折扣</th>
		                  <th>开始时间</th>
		                  <th>结束时间</th>
                      <th>发布人</th>
                      <th>状态</th>
		                  <th>创建时间</th>
		                  <th>操作</th>
		                </tr>
	                  	 {foreach name="list" item="vo"}
			                <tr>
			               		<td class="mailbox-star">
		               				{eq name="vo.status" value="1"}
		               					<i class="fa fa-star text-yellow"></i>
			               			{else /}
			               				<i class="fa fa-star-o text-yellow"></i>
			               			{/eq}
			               		</td>
				                <td class="mailbox-name">{$vo.title}</td>
                        {switch name="vo.type"}
                            {case value="1" break="1"}
                              <td class="mailbox-name">
                                无门槛现金券
                              </td>
                              <td class="mailbox-name text-blue">
                                {$vo.minus_money}元
                              </td>
                            {/case}
                            {case value="2" break="1"}
                              <td class="mailbox-name">
                                无门槛折扣券
                              </td>
                              <td class="mailbox-name text-yellow">
                                {if condition="$vo.discount % 10 eq 0"}
                                  {$vo.discount*10}
                                {else/}
                                  {$vo.discount*100}
                                {/if}折
                              </td>
                            {/case}
                            {case value="3" break="1"}
                              <td class="mailbox-name">
                                满就减
                              </td>
                              <td class="mailbox-name text-blue">
                                {$vo.minus_money}元
                              </td>
                            {/case}
                            {case value="4" break="1"}
                              <td class="mailbox-name">
                                满就折
                              </td>
                              <td class="mailbox-name text-yellow">
                                {if condition="$vo.discount % 10 eq 0"}
                                  {$vo.discount*10}
                                {else/}
                                  {$vo.discount*100}
                                {/if}折
                              </td>
                            {/case}
                        {/switch}
				                <td class="mailbox-name">
                          {$vo.stime|date="Y-m-d",###}
                        </td>
                        <td class="mailbox-name">
                          {$vo.etime|date="Y-m-d",###}
                        </td>
                        <td class="mailbox-name">
                          {$vo.sid}
                        </td>
				                <td class="mailbox-name">
				                  {eq name="vo.status" value="1"}
				                  	<span class="label label-success">启用</span>
				                  {else /}
				                  	<span class="label label-warning">禁用</span>
				                  {/eq}
				                </td>
				                <td class="mailbox-name">{$vo.createtime|date="Y-m-d H:i:s",###}</td>
				                <td class="mailbox-name">
                          <div class="btn-group">
                            <a class="btn btn-default btn-xs" href="{:url('admin/shoper/couponlist',array('id'=>$vo['id']))}"><i class="fa fa-list"></i>&nbsp;使用情况</a>
				                  	<a class="btn btn-default btn-xs" href="{:url('admin/shoper/editcoupon',array('id'=>$vo['id']))}"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                            <button type="button" class="btn btn-default btn-xs" onclick="delItem('{$vo.id}');"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
                          </div>
				                </td>
			                </tr>
			            {/foreach}
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            	{$list->render()}
            </div>
          </div>
          <!-- /. box -->
		</div>
	</div>
</section>
{include file="public/dialog" /}
{include file="public/modal" /}
<script>
	$('#myDialog').on('hidden.bs.modal',function(){
	    var sta = $(this).find('#dialogSta').val();
	    if(sta==1){
	        window.location.reload();
	    }
  	});

	function delItem(id){
    if(!id){
      return false;
    }
    $('#myModal .modal-box').text('确定删除该项?');
    $('#myModal').modal();
    $('#myModal #modalId').val(id);
	}

  $('#myModal #modalConfirm').click(function(){
      $('#myModal').modal('hide');
      var id = $('#myModal #modalId').val();
      $.post('{:url("admin/shoper/delcoupon")}',{did:id},function(data){
          if(data.status==1){
            window.location.reload();
          }else{
            $('#myDialog .dialog-box').text(data.info);
            $('#myDialog #dialogSta').val(data.status);
            $('#myDialog').modal();
          }
      },'json');
    });
</script>