<!-- 引入Vue -->
{js href="//cdn.quguonet.com/iview.rc13/vue2.24.js"}
<!-- 引入样式 -->
{css href="//cdn.quguonet.com/iview.rc13/iview.css"}
<!-- 引入组件库 -->
{js href="//cdn.quguonet.com/iview.rc13/iview.min.js"}
<section class="content">
    <div class="row" id="app">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">菜品消费清单</h3>
                    <div style="float: right;">
                        <input type="text" class="form-control" placeholder="搜索商品" v-model="shopname" style="width: 200px;float: left; margin-right: 10px;">
                        <div class="ivu-btn ivu-btn-success" @click="querydate" style="float: left;">查询</div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover" id="example">
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>分类</th>
                                <th>销量</th>
                                <th>单价</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach name="list" item="vo"}
                                <tr>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.title}</td>
                                    <td>{$vo.sale}</td>
                                    <td>{$vo.price}</td>
                                    <td>
                                        <a class="btn btn-default" href="{:url('admin/shouhou/shoppayinfo',array('id'=>$vo['id']))}"><i class="fa fa-edit"></i>查看</a>
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>   
                </div>
                <div class="box-footer clearfix">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            shopname:null,
        },
        methods:{
            querydate:function(){
                this.$Message.config({
                    top: 100,
                    duration: 3
                });
                if(this.shopname == ''){
                    this.$Message.error('请输入关键词');
                }
                window.location.href = "{:url('admin/Shouhou/shoppaylist')}"+'?shopname='+this.shopname;
            }
        }
    })
</script>