<!-- 引入Vue -->
{js href="//cdn.quguonet.com/iview.rc13/vue2.24.js"}
<!-- 引入样式 -->
{css href="//cdn.quguonet.com/iview.rc13/iview.css"}
<!-- 引入组件库 -->
{js href="//cdn.quguonet.com/iview.rc13/iview.min.js"}
{css href="//cdn.quguonet.com/datatables/media/css/dataTables.bootstrap.min.css"/}
<section class="content">
    <div class="row" id="app">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">首单用户</h3>
                    <div class="inputdiv">
                        <div>查看时间:</div>
                        <Date-picker :value="time" style="width: 200px;float: left; margin-right: 10px;" type="datetime" @on-change="stimeonclick"></Date-picker>
                        <div class="ivu-btn ivu-btn-success" @click="chaxun">查询</div>
                        <div class="ivu-btn ivu-btn-error" @click="daochu">导出Excel</div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover" id="example">
                        <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>联系电话</th>
                                <th>下单时间</th>
                                <th>总金额</th>
                                <th>实际支付金额</th>
                                <th>发货时间</th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach name="list" item="vo" }
                            <tr>
                                <td>{$vo.orderid}</td>
                                <td>{$vo.tel}</td>
                                <td>{$vo.createtime}</td>
                                <td>{$vo.sum}</td>
                                <td>{$vo.money}</td>
                                <td>{$vo.stime}</td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</section>
{js href="//cdn.quguonet.com/bootstrap/dist/js/bootstrap.min.js"/}
{js href="//cdn.quguonet.com/datatables/media/js/jquery.dataTables.min.js"/}
{js href="//cdn.quguonet.com/datatables/media/js/dataTables.bootstrap.min.js"/}
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#example').dataTable({
            "sPaginationType" : "full_numbers",
            "oLanguage" : {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "名称:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }        
            }
        });
    });
</script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            time:"{$time}",
        },
        methods:{
            stimeonclick:function(date){
                this.time = date;
            },
            chaxun:function(){
                window.location.href = "{:url('admin/Shouhou/shoudanlist')}" + '?stime=' + this.time;
            },
            daochu:function(){
                window.location.href = "{:url('admin/Shouhou/shoudanlist')}" + '?stime=' + this.time + '&excel=1';
            }
        }
    })
</script>