{css href="__STATIC__/lvyangtian/app.css"}
<!-- 引入Vue -->
{js href="//cdn.quguonet.com/iview.rc13/vue2.24.js"}
<!-- 引入样式 -->
{css href="//cdn.quguonet.com/iview.rc13/iview.css"}
<!-- 引入组件库 -->
{js href="//cdn.quguonet.com/iview.rc13/iview.min.js"}
<section class="content">
	<div class="row" id="app">
        <div class="col-xs-12">
            <div class="box">
            	<div class="inputdiv">
            		<div>限时抢购活动名称:</div>
            		<i-input v-model="name" placeholder="请输入限时抢购活动名称" style="width: 300px"></i-input>
            	</div>
            	<div class="inputdiv">
            		<div>开始时间:</div>
            		<Date-picker :value="stime" style="width: 200px;float: left;" type="datetime" @on-change="stimeonclick"></Date-picker>
            	</div>
            	<div class="inputdiv">
            		<div>结束时间:</div>
            		<Date-picker :value="etime" style="width: 200px;float: left;" type="datetime" @on-change="etimeonclick"></Date-picker>
            	</div>
            	<div class="inputdiv">
            		<div>是否开启:</div>
            		<Radio-group v-model="stu">
						<Radio label="1">
							是
						</Radio>
						<Radio label="0">
							否
						</Radio>
            		</Radio-group>
            	</div>
            	<i-button type="success" style="width: 300px;margin: 20px;" @click="postok">提交</i-button>
            </div>
    	</div>
    </div>
</section>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            name:null,
            stime: null,
            etime:null,
            stu:1,
        },
        methods:{
           	stimeonclick:function(date){
                this.stime = date;
            },
            etimeonclick:function(date){
            	this.etime = date;
            },
            postok:function(){
            	var self = this
            	$.post('{:url("admin/Sale/AddOrEditSale")}',{name:self.name,stime:self.stime,etime:self.etime,stu:self.stu},function(data){
            			self.$Message.config({
						    top: 50,
						    duration: 3
						});
						var loading = self.$Message.loading('正在加载中...', 0);
            			var data = JSON.parse(data)
	                    if(data.status == '0'){
                			setTimeout(loading, 100);
	                        self.$Message.error(data.msg)
	                    }else{
                			setTimeout(loading, 100);
	                        self.$Message.success(data.msg)
	                        window.history.back(-1); 
	                    }
				})
            }
        }
    })
</script>