<!DOCTYPE html>
<html>
<head>
  <title>趣果商城管理后台</title>
  {include file="public/head_import" /}
  <style>
    html,body{width:100%;height:100%;}
    .my-flex-container{display:flex;align-items:center;width:100%;height:100%;}
    .has-error .tips-span{color:#dd4b39;}
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="background-color:#ecf0f5;">
  <div class="my-flex-container">
    <div class="col-md-5" style="float:none;margin:auto;">
        <p>
          <h1 style="text-align:center;">趣果商城管理系统</h1>
        </p>
        <!-- Input addon -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">注册后台账号</h3>
            </div>
            <div class="box-body">
              <form id="form">
                <div class="form-group has-feedback">
                  <input type="text" name="name" class="form-control" placeholder="您的名称">
                  <span class="glyphicon glyphicon-user form-control-feedback"></span>
                  <span class="tips-span">&nbsp;</span>
                </div>
                
                <div class="form-group has-feedback">
                  <input type="tel" name="tel" class="form-control" placeholder="您的手机号码">
                  <span class="glyphicon glyphicon-headphones form-control-feedback"></span>
                  <span class="tips-span">&nbsp;</span>
                </div>

                <div class="form-group has-feedback">
                  <input type="email" name="email" class="form-control" placeholder="您的邮箱">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                  <span class="tips-span">&nbsp;</span>
                </div>

                <div class="form-group has-feedback">
                  <input type="password" name="pwd" class="form-control" placeholder="登录密码">
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                  <span class="tips-span">&nbsp;</span>
                </div>

                <div class="form-group has-feedback" style="margin-bottom:0px;">
                  <input type="password" name="repwd" class="form-control" placeholder="再填一次登录密码">
                  <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                  <span class="tips-span">&nbsp;</span>
                </div>
              </form>
            </div>
            <!-- /.box-body -->
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="button" id="regBtn" class="btn btn-info">注册</button>
              <a href="{:url('admin/login/index')}" class="btn btn-default pull-right">返回</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
    </div>
  </div>
{include file="public/dialog" /}
{include file="public/foot_import" /}
</body>
<script>
  $('#regBtn').click(function(){
      if($(this).hasClass('disabled')){
        return false;
      }
      $(this).addClass('disabled');
      var form = $('#form').serialize();
      $.post('{:url("admin/login/register")}',form,function(data){
          $('#myDialog .dialog-box').text(data.info);
          $('#myDialog').modal();
          $('#myDialog #dialogSta').val(data.status);
          $('#regBtn').removeClass('disabled');
      });
  });

  $('#myDialog').on('hidden.bs.modal',function(){
      var sta = $(this).find('#dialogSta').val();
      if(sta==1){
          window.location.href = "{:url('admin/login/index')}";
      }
  });
</script>
</html>
